
%header
 
  %h1 Tumblr Follower Counts

%main

  %section.followers
    %header
      .widgets
        - @blogs.each do |blog|
          .blog
            %iframe{ src: "followers/#{blog["name"]}" }
            %button{ onclick: "location.href='panicboard://?url=#{CGI.escape("#{settings.base_url}/followers/#{blog["name"]}?token=#{current_user.oauth_token}")}&panel=diy&sourceDisplayName=#{CGI.escape("Tumblr Status Board Widgets")}'" }
              Add to Status Board
